icon.ico ICON "res\\icon.ico"
font.png RESOURCE "res\\font-4x7.png"

tileset.png RESOURCE "res\\example-platformer\\tileset.png"
jump.ogg RESOURCE "res\\example-platformer\\jump.ogg"
land.ogg RESOURCE "res\\example-platformer\\land.ogg"